<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/adminDashboard.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <div class="main-container">
      <div class="header">
        <div class="btn-borderless button" onclick="document.location.href = '/admin/logout'">
          <i class='bx bx-log-out'></i>
          <!-- LOG OUT -->
        </div>
        <h1 class="heading">Dashboard</h1>
      </div>
        <div class="profile"> 
            <p class="user-info"><b>Admin Code: </b> <%= locals.adminId %></p>
            <p class="user-info"><b>Name:</b> <%= adminName %></p>
        </div>

        <!--
        <div class="form-container">
            <p>Services</p>
            <div class="form-1">
                <form action="/admin/dashboard/register" method="get">
                    <button type="submit" class="button-1">Register Students</button>
                </form>
                <form action="/admin/dashboard/appointments" method="get">
                    <button type="submit" class="button-2">Appointment</button>
                </form>
                <form action="/admin/dashboard/feedback" method="get">
                    <button type="submit" class="button-3">Student Feedback</button>
                </form>
            </div>
        </div>
        -->
        <div class="services">
          <h1 class="heading">Services</h1>
          <div class="services-container">
            <div class="service-clicklet" onclick="document.location.href = '/admin/dashboard/register'">
              <div class="service-icon">
                <i class='bx bxs-edit'></i>
              </div>
              <div class="service-name">
                Register
              </div>
            </div>
            <div class="service-clicklet" onclick="document.location.href = '/admin/dashboard/appointments'">
              <div class="service-icon">
                <i class='bx bxs-calendar-check'></i>
              </div>
              <div class="service-name">
                Appointment
              </div>
            </div>
            <div class="service-clicklet" onclick="document.location.href = '/admin/dashboard/feedback'">
              <div class="service-icon">
                <i class='bx bxs-chat' ></i>
              </div>
              <div class="service-name">
                Feedback
              </div>
            </div>
          </div>
        </div>
    </div>
</body>
</html>