<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback List</title>
    <link rel="stylesheet" href="/styles/adminFeedback.css">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <div class="hidden-message">
        <div class="btn-borderless" onclick="document.location.href = '/admin/dashboard'">
          <i class='bx bx-arrow-back'></i>
            BACK
          </div>
        You can only access this on pc.</div>
    <div class="content-wrapper">
      <div class="control-view">
        <div class="btn-borderless" onclick="document.location.href = '/admin/dashboard'">
          <i class='bx bx-arrow-back'></i>
            BACK
          </div>
      </div>
      <div class="flex-container">
        <h2 class="heading">Feedback Records</h2>
          <table>
              <thead>
                  <tr>
                      <th>Feedback ID</th>
                      <th>Concern</th>
                      <th>Action</th>
                  </tr>
              </thead>
              <tbody>
                  <% for (const feedback of feedbackData) { %>
                      <tr>
                          <td class="feedback-column"><%= feedback.FeedbackID %></td>
                          <td class="concern-column"><%= feedback.Concern %></td>
                          <td>
                              <form class="button-submit" action="/delete-feedback" method="post">
                                  <input type="hidden" name="feedbackID" value="<%= feedback.FeedbackID %>">
                                  <button class="controls" type="submit">Delete</button>
                              </form>
                          </td>
                      </tr>
                  <% } %>
              </tbody>
          </table>
      </div>
    </div>
</body>
</html>
