<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/adminDashboard.css">
</head>
<body>
    <div class="main-container">
        <div class="profile"> 
            <form action="/logout" method="post">
                <button type="submit"><img class="image-class" src="/styles/images/icons8-logout-30.png" alt=""></button>
            </form>
            <p>Name: <%= adminName %></p>
        </div>

        <div class="form-container">
            <p>Services</p>
            <div class="form-1">
                <form action="/admin/dashboard/Register" method="get">
                    <button type="submit" class="button-1">Register Students</button>
                </form>
                <form action="/" method="get">
                    <button type="submit" class="button-2">Appointment</button>
                </form>
                <form action="/" method="get">
                    <button type="submit" class="button-3">Student Feedback</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>