<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register | Student Portal</title>

  <link rel="stylesheet" href="/styles/register.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
  <div class="hidden-message">
    <div class="btn-borderless" onclick="document.location.href = '/admin/dashboard'">
      <i class='bx bx-arrow-back'></i>
        BACK
      </div>
    You can only access this on pc.</div>
  <div class="content-wrapper">
    <div class="control-view">
        <div class="btn-borderless" onclick="document.location.href = '/admin/dashboard'">
          <i class='bx bx-arrow-back'></i>
          BACK
        </div>
    </div>
    <div class="form-wrapper">
      <form class="form-container" action="/admin/dashboard/register" method="post" id="registrationForm">
        <div class="heading">Register New Account</div>
        <div class="field-container">
          <select class="options" id="accountType" name="accountType">
            <option value="Student">Student</option>
            <option value="Instructor">Instructor</option>
          </select>
        </div>
        <div class="field-container">
          <input required type="text" name="firstName" id="firstName" placeholder="First Name">
        </div>
        <div class="field-container">
          <input type="text" name="middleName" id="middleName" placeholder="Middle Name (if applicable)">
        </div>
        <div class="field-container">
          <input required type="text" name="lastName" id="lastName" placeholder="Last Name">
        </div>
        <div class="field-container">
          <input type="text" name="nameExtension" id="nameExtension" placeholder="Name Extension (if applicable)">
        </div>
        <div class="half-split-flex">
          <div class="field-container">
            <input required class="date-picker" type="date" name="birthdate" id="birthdate" placeholder="birthdate">
          </div>
          <div class="field-container">
            <select required class="options" id="gender" name="gender">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Other">Prefer not to say</option>
            </select>
          </div>
        </div>
        <div class="field-container">
          <input required type="text" name="emailAddress" id="emailAddress" placeholder="Email">
        </div>
        <div class="field-container">
          <input required type="text" name="contactNumber" id="contactNumber" placeholder="Contact Number">
        </div>
        <div class="field-container">
          <input required type="text" name="permanentAddress" id="permanentAddress" placeholder="Permanent Address">
        </div>
        <div class="field-container">
          <input required type="text" name="currentAddress" id="currentAddress" placeholder="Current Address">
        </div>
        <div class="field-container">
          <input required type="password" name="password" id="password" placeholder="Password">
        </div>
        <div class="field-container pivot">
          <input required type="password" id="confirmPassword" placeholder="Confirm Password">
        </div>
        <div class="field-container">
          <input required type="text" name="section" placeholder="Section" id="sectionPart">
        </div>
        <div class="field-container removable">
          <input required type="text" name="strand" placeholder="Strand">
        </div>
        <div class="field-container removable">
          <input required type="text" name="enrollmentStatus" placeholder="Enrollment Status">
        </div>
        <div>
          <input class="btn" type="submit" value="REGISTER">
        </div>
        <div><%= registrationResult %></div>
      </form>
    </div>
  </div>

  <script>
    let accountSelect = document.querySelector("#accountType");
    let removables = document.querySelectorAll(".removable");
    let pivot = document.querySelector(".pivot");
    let sectionPart = document.getElementById("sectionPart")

    accountSelect.addEventListener("change", (e) => {
      if (accountSelect.value == "Instructor") {
        sectionPart.placeholder = "Schedule (Use Last Name + SCHED) eg. CruzSCHED";
        if (document.querySelectorAll(".removable").length > 0) {
          removables.forEach((element) => {
            element.remove();
          });
        }

      } else {
        if (document.querySelectorAll(".removable").length == 0) {
          let copy = [...removables].reverse();
          copy.forEach((element) => {
            pivot.insertAdjacentElement("afterend", element);
          });
        }
      }
    });
  </script>
</body>
</html>