@import url("/styles/common.css");

body {
    margin: 20px 0; /* Add margin to body */
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200vh; /* Adjusted height */
}

.flex-container h3 {
    text-align: left;
    width: 100%;
    margin-left: 46px;
    color: var(--main-color);
}

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh; /* Adjusted height */
    width: 80%;
    flex-direction: column;
    border-radius: 12px;            
    padding: 2rem;
    background: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.delete-form {
    align-items: left;
    width: 100%;
    margin: 15px 0 0 95px;
}

.btn-borderless {
    text-align: left;
    width: 100%;
}

.btn-borderless:hover {
    transform: scale(1.01);
}

input {
    width: 100px;
    padding: 4px;
    margin: 2px;
}

.btn-row {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background: white;
    font-size: 0.6rem;
    font-weight: 600;
    border: 1px solid rgb(104, 104, 104);
    border-radius: 5px;
    transition: ease 0.3s;
    height: 30px;
    width: 30px;
    margin: 5px 2px 2px 2px;
}

.btn-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: var(--main-color);
    font-size: 0.6rem;
    font-weight: 600;
    border: 3px solid var(--main-color);
    border-radius: 5px;
    transition: ease 0.3s;
    height: 30px;
    width: 70px;
    margin: 2px;
}

table {
    font-size: 0.8rem;
}

th, td {
    padding: 2px;
    text-align: left;
    margin: 2px; /* Add margin to each column */
}


.hidden-message {
    display: none;
}

@media screen and (max-width: 600px) {
    .hidden-message {
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translate(-50%, -50%);
        position: fixed;
        top: 50%;
        left: 50%;
    }

    .content-wrapper {
        display: none;
    }
}