@import url("./common.css");

.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    margin: 2rem 10%;
}

.profile {
    margin-top: 30px;
    text-align: left;
    width: 85%;
    font-size: 1rem;
    padding: 2rem;
    line-height: 24px;
    border-radius: 5px;
    transition: ease 0.3s;
    box-sizing: border-box;
    background: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.profile button {
    border: none;
    background: transparent;
}

.image-class {
    width: 20px; /* Set the width to your desired size */
    height: auto; /* Maintain the aspect ratio */
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the buttons horizontally */
    margin-top: 15px;
    flex-direction: column;
    min-height: 30vh;
    width: 80%;
    font-size: var(--paragraph-text);
    font-weight: 600;
    padding: 8px 20px;
    line-height: 24px;
    border: 3px solid var(--main-color);
    border-radius: 5px;
    transition: ease 0.3s;
    box-sizing: border-box;
}

.form-1, .form-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.form-container button {
    margin: 10px;
    color: black;
    background: white;
    font-size: var(--paragraph-text);
    font-weight: 600;
    padding: 8px 20px;
    line-height: 24px;
    border: 3px solid var(--main-color);
    border-radius: 5px;
    transition: ease 0.3s;
    height: 40px;
    width: 200px;
    position: relative;
}

/* .button-1:hover::after {
    content: "Look for your class schedule.";
}

.button-2:hover::after {
    content: "View course materials and discussion board";
}

.button-3:hover::after {
    content: "Upload/Submit learning materials or assignments.";
}

.button-4:hover::after {
    content: "Perform maths or any school related stuffs here.";
}

.button-5:hover::after {
    content: "Post feedbacks here.";
}

.button-6:hover::after {
    content: "You may request for an appointment.";
} */

.form-container button:hover::after {
    position: absolute;
    bottom: 70%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-size: 12px;
    z-index: 1;
    width: 200px;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.5rem;
  row-gap: 1.3rem;
  justify-content: center;
  align-items: center;
  margin: 1rem 0rem;
}

.service-clicklet {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem 2rem;
  border-radius: 12px;
  background: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  color: var(--main-color);
  transition: transform 0.2s ease;
}

.service-clicklet:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.service-icon {
  font-size: 4rem;
  margin: -1rem 0rem;
}

.service-name {
  font-weight: 600;
  font-size: 1rem;
}

.heading {
  color: var(--main-color);
}

.services {
  text-align: center;
  padding: 2rem;
}

.user-info {
  font-size: 1.1rem;
  line-height: 2rem;
}

.header {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  text-align: center;
}

.button {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.button > i {
  font-size: 1.2rem;
}

.heading {
  color: var(--main-color);
}

/* .slider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.img-box img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  border: 3px solid var(--main-color);
  border-radius: 5px;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.4));
}

.btn-container {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.4));
}

.btn-container .btn:nth-child(1) {
  margin-left: 80px;
}

.btn-container .btn:nth-child(2) {
  margin-right: 80px;
} */

@media screen and (max-width: 600px) {
  .content-wrapper {
    margin: 10px 10px;
  }

  .profile p {
    font-size: 0.9rem;
  }

  .profile {
    width: 100%;
    padding: 2rem;
  }

  .services-container {
    width: 100%;
    padding: 0rem 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 1rem;
  }

  .service-clicklet {  
    width: 100%;
  }

  .service-clicklet:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .service-icon {
    font-size: 4rem;
    margin: -1rem 0rem;
  }
  
  .service-name {
    font-weight: 600;
    font-size: 1rem;
  }

  .heading {
    font-size: 1.5rem;
  }

  /* .slider {
    display: none;
  } */
}