@import url("./common.css");

.content-wrapper {
  margin: 10% 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  width: 50vw;
  text-align: center;
  border-radius: 12px;
  padding: 2rem 3.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  border: 2px solid black;
}

.heading {
  font-size: 1.5rem;
  color: var(--main-color);
  font-weight: 700;
}

.field-container {
  width: 100%;
}

.field-container > input,
.date-picker {
  margin: 0.5 rem 0rem;
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
}

.options {
  margin: 0.5 rem 0rem;
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
}

.half-split-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2rem;
}
