<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign In | Student Portal</title>

  <link rel="stylesheet" href="/styles/create_assignment.css">
  <link rel="shortcut icon" href="/styles/images/bcihs.png" type="image/x-icon">
</head>

<body>
  <div class="content-wrapper">
    <form class="form-container" action="create/submit" method="post" id="assignmentForm" enctype="multipart/form-data">
      <div class="heading">
        Create Assignment
      </div>
      <div class="subheading">Details</div>
      <div class="field-container">
        <input required type="text" name="title" id="title" placeholder="Assignment Title">
      </div>
      <div class="field-container">
        <textarea name="instructions" id="instructions" cols="30" rows="10" placeholder="Instructions (optional)"></textarea>
      </div>
      <div class="subheading">Due Date</div>
      <p style="font-size: 0.7rem; text-align: left;">Make sure you use the correct date.</p>
      <div class="field-container deadline">
        <input type="date" name="date" id="date">
        <input type="time" name="time" id="time">
      </div>
      <div class="subheading">Attach File</div>
      <div class="field-container">
        <input type="file" name="file" id="file">
      </div>
      <div>
        <input class="btn" type="submit" value="CREATE">
      </div>
      <input type="hidden" name="courseId" value="<%= locals.courseId %>">
      <input type="hidden" name="courseCode" value="<%= locals.courseCode %>">
    </form>
  </div>
</body>
</html>