<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Course | Student Portal</title>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

  <style>
    @import url("/styles/common.css");

    .content-wrapper {
      margin: 0% 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .form-container {
      width: 100%;
      max-width: 400px;
      text-align: center;
      border-radius: 12px;
      padding: 2rem 3.5rem;
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      background: white;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    }

    .heading {
      font-size: 1.5rem;
      color: var(--main-color);
      font-weight: 700;
    }

    .field-container {
      width: 100%;
      font-size: 1rem;
    }

    .field-container > input {
      width: 100%;
      padding: 0.5rem;
      border-radius: 5px;
    }


  </style>
</head>
<body>
  <div class="content-wrapper">
    <form class="form-container" action="/course/create" method="post" id="courseForm">
      <div style="display: flex; align-items: center; justify-content: center;" class="btn-borderless button" onclick="document.location.href = '/dashboard'">
        <i class='bx bx-arrow-back'></i>
        BACK
      </div>
      <div class="heading">
        Create Course
      </div>
      <div class="field-container">
        <input required type="text" name="className" id="className" placeholder="Class Name">
      </div>
      <div class="field-container">
        <input required type="text" name="classSection" id="classSection" placeholder="Section">
      </div>
      <div class="field-container">
        <input required type="text" name="classSubject" id="classSubject" placeholder="Subject">
      </div>
      <div class="field-container">
        <input required type="text" name="classRoom" id="classRoom" placeholder="Room">
      </div>
      <div>
        <input class="btn" type="submit" value="CREATE">
      </div>
    </form>
  </div>
</body>
</html>